body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5f5;
}

.app-container {
  display: flex;
  height: 100vh;
  
}

h1{
  font-size: 24px;
  width: Fixed (640px)px;
  height: Hug (62px)px;
  top: 102px;
  left: 293px;
  padding: 10px 10px 10px 0px;
  gap: 10px;
  opacity: 0px;
  font-family: sans-serif;
  color: #161E54;
}

/* Sidebar styling */
.sidebar {
  width: 242px;
  height: 900px;
  position: fixed;
  
  padding: 20px;
}

/* Main content area */
.content-area {
  flex: 1;
  margin-left: 250px; /* Matches sidebar width */
  padding: 20px;
  background-color: #f9fafb;
  overflow-y: auto;
  
}

/* Dashboard grid layout */
.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 20px;
  margin-left: 30px;
}

/* Component cards styling */
.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  
}
